# secrets
.env

# provisioning data
showerheads.csv
gateways.csv
grafana_users.csv

# docker volume for node red
volumes/node-red-data/*
!volumes/node-red-data/flows_cred.json

# OS Files
**/.DS_Store