# Mots de passe Bases de données
POSTGRES_PASSWORD=password_ultra_secret
INFLUXDB_TOKEN=mon_token_super_long_et_securise
INFLUXDB_ORG=ma_societe
INFLUXDB_BUCKET=water_data

# Configuration Chirpstack (pour provisionnement)
CHIRPSTACK_API_TOKEN=your-lora-api-token
CHIRPSTACK_URL=http://chirpstack:8080

# Configuration MQTT
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883

# Configuration NodeRed
NODE_RED_CREDENTIAL_SECRET=hydrao-lora-showerhead-cloud

# Configuration Grafana
GRAFANA_ADMUN_USER=admin_hydrao
GRAFANA_ADMIN_PASSWORD=admin_water_project